In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("DataFrames").getOrCreate()

In [4]:
df = spark.read.json("people.json")

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
df.columns

['age', 'name']

In [13]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [14]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [15]:
schema = [StructField('age', IntegerType(), True),
          StructField('name', StringType(), True)]

In [16]:
final_schema = StructType(fields=schema)

In [17]:
new_df = spark.read.json("people.json", schema=final_schema)

In [20]:
new_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [29]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [34]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
new_df = df.withColumn(colName="new_age", col=df['age']*2)

In [40]:
new_df.show()

+----+-------+-------+
| age|   name|new_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     60|
|  19| Justin|     38|
+----+-------+-------+

In [42]:
new_df.withColumnRenamed(existing='age', new='my_new_age').show()

+----------+-------+-------+
|my_new_age|   name|new_age|
+----------+-------+-------+
|      null|Michael|   null|
|        30|   Andy|     60|
|        19| Justin|     38|
+----------+-------+-------+

In [43]:
df.createOrReplaceTempView('people')

In [44]:
results = spark.sql("SELECT * FROM people")

In [50]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")