In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Missing Data").getOrCreate()

In [2]:
missing_data = spark.read.csv("ContainsNull.csv", inferSchema=True, header=True)

In [4]:
missing_data.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [9]:
missing_data.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [10]:
missing_data.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [13]:
missing_data.na.drop(how='all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [14]:
missing_data.na.drop(subset='Sales').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [17]:
missing_data.na.fill(subset = 'Name', value='New').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|  New| null|
|emp3|  New|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [20]:
from pyspark.sql.functions import mean

In [22]:
mean_val = missing_data.select(mean('Sales')).collect()
mean_sales = mean_val[0][0]

In [24]:
missing_data.na.fill(subset='Sales', value=mean_sales).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+